# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. ScikitLearn
4. Tensorflow

| Data Science Tools |
| --- |
| Jupyter |
| Apache Zepplin |
| Spyder |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply, divide, then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
print(200/60 , " Hours")

3.3333333333333335  Hours

**Objectives:**
List of plotting libraries in R
* ggplot
* plotly
* lattice
* leaflet

## Author
Donald